@model IEnumerable<WarehouseBranchViewModel>

<h2 class="mt-5 text-center">Warehouse Branche</h2>

<form method="post" class="mt-5 mr-2">
    <div class="row form-group ">
        <div class="col-md-2">
            <a asp-action="Create" asp-controller="WarehouseBranch" class="btn btn-primary">Create New</a>
        </div>
    </div>
</form>

<table class="table table-hover table-striped table-borderless mt-5 shadow p-3 mb-5 bg-white rounded table-responsive-lg table-responsive-md table-responsive-sm">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Branch Id
            </th>
            <th>
                # Assets
            </th>
            <th>
                # Employees
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var branch in Model)
         {
            <tr>
                <td><a asp-controller="WarehouseBranch" asp-action="Detail" asp-route-id="@branch.Id">@branch.Name</a></td>
                <td class="col-wrap-text">
                    @Html.DisplayFor(modelItem => branch.Id)
                </td>
                <td class="col-wrap-text">
                    @Html.DisplayFor(modelItem => branch.NumberOfAssets)
                </td>
                <td class="col-wrap-text">
                    @Html.DisplayFor(modelItem => branch.NumberOfEmployees)
                </td>
                <td class="d-flex justify-content-between" style="max-width:200px;">
                    <a asp-action="Edit" asp-route-id="@branch.Id" class="btn btn-primary btn-sm sameSizeActionsBtn"><i class="fas fa-edit"></i></a>
                    <a asp-action="Detail" asp-route-id="@branch.Id" class="btn btn-secondary btn-sm sameSizeActionsBtn"><i class="fas fa-info"></i></a>
                    <a asp-action="Delete" asp-route-id="@branch.Id" class="btn btn-danger btn-sm sameSizeActionsBtn"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
         }
    </tbody>
</table>