@model EmployeeViewModel

<h2 class="mt-5 text-center">Employee Detail</h2>

<div class="row mt-5 shadow p-3 mb-5 bg-white rounded table-responsive-lg table-responsive-md table-responsive-sm">
    <div class="col-lg-6 col-md-12 col-sm-12">
        <table class="table table-hover table-sm table-striped table-borderless mt-5">
            <tr>
                <th class="col-wrap-text">@Html.DisplayNameFor(model => model.Id)</th>
                <td class="col-wrap-text">@Html.DisplayFor(model => model.Id)</td>
            </tr>
            <tr>
                <th class="col-wrap-text">@Html.DisplayNameFor(model => model.FirstName)</th>
                <td class="col-wrap-text">@Html.DisplayFor(model => model.FirstName)</td>
            </tr>
            <tr>
                <th class="col-wrap-text">@Html.DisplayNameFor(model => model.LastName)</th>
                <td class="col-wrap-text">@Html.DisplayFor(model => model.LastName)</td>
            </tr>
            <tr>
                <th class="col-wrap-text">@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                <td class="col-wrap-text">@Html.DisplayFor(model => model.PhoneNumber)</td>
            </tr>
            <tr>
                <th class="col-wrap-text">@Html.DisplayNameFor(model => model.Address)</th>
                <td class="col-wrap-text">@Html.DisplayFor(model => model.Address)</td>
            </tr>
            <tr>
                <th class="col-wrap-text">@Html.DisplayNameFor(model => model.Created)</th>
                <td class="col-wrap-text">@Html.DisplayFor(model => model.Created)</td>
            </tr>
            <tr>
                <th class="col-wrap-text">@Html.DisplayNameFor(model => model.HomeWarehouse)</th>
                <td class="col-wrap-text">@Html.DisplayFor(model => model.HomeWarehouse)</td>
            </tr>
            <tr>
                <th class="col-wrap-text">@Html.DisplayNameFor(model => model.WarehouseEmployeeCardId)</th>
                <td class="col-wrap-text">@Html.DisplayFor(model => model.WarehouseEmployeeCardId)</td> 
            </tr>
        </table>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 mt-5">
        <h4>Assets Currently Checked Out</h4>
        <div style="max-height: 200px;" class="pre-scrollable">
            @if (@Model.AssetsCheckedOut.Any())
            {
                @foreach (var checkout in @Model.AssetsCheckedOut)
                {
                    <div>
                        <div class="card border-primary mb-3 mr-3">
                            <div class="card-header">
                                @checkout.WarehouseAsset.Name - (Warehouse Asset ID: @checkout.WarehouseAsset.Id)
                            </div>
                            <div class="card-body">
                                <h6>
                                    Since: @checkout.Since
                                </h6>
                                <h6>
                                    Due: @checkout.Until
                                </h6>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div>No items currently checked out.</div>

            }
                </div>
    </div>
</div>